.LookingFor {
  color: white;
  padding: 15px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #dee0e4;
}

.LookingFor-playlist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}

.LookingFor h2 {
  color: #2b2b2b;
  font-family: Arial;
}
