.FullScreen {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 14px;
  background: transparent;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  outline: none;
  transition: .3s;
}

.FullScreen:hover {
  background: rgba(0, 0, 0, .3)
}
