.Title {
  position: absolute;
  top: 0; right: 0; left: 0;
  color: white;
  padding: 10px 20px;
  font-family: Arial;
  background: rgba(23, 28, 48, .7);
}

.Title h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
